
.box{
    background: #00ff11;
    height: 100px;
    width: 100px;
    padding: 10px;
    margin: 20px;
    display: inline-block;
}

.box-2{
    background: #ff1c4c;
}

.box-3{
    background: #7777ff;
}